.navbar {
  width: 100%;
  height: 80px;
  background-color: #ec848b;
  display: flex;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 1120px) {
  .navbar {
    width: 100%;
    height: 60px;
    background-color: #ec848b;
    position: relative;
    
  }
}
